<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content color="light">
    <ion-radio-group [(ngModel)]="status">
    <ion-list>
      <ion-item>
        <ion-radio slot="end" value="Happy"> </ion-radio>
        <ion-label>Happy</ion-label>
      </ion-item>
      <ion-item>
        <ion-radio slot="end" value="Sad"> </ion-radio>
        <ion-label>Sad</ion-label>
      </ion-item>
      <ion-item>
        <ion-radio slot="end" value="Energetic"> </ion-radio>
        <ion-label>Energetic</ion-label>
      </ion-item>
      <ion-item>
        <ion-radio slot="end" value="Lazy"> </ion-radio>
        <ion-label>Lazy</ion-label>
      </ion-item>
    </ion-list>
  </ion-radio-group>

  <ion-button (click)="onButtonClick()">Save</ion-button>
  </ion-content>
</ion-content>
